.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  .space {
    flex-basis: 23%;
  }
  .cont-block {
    padding-top: 30px;
    border-top: 2px solid $big-line;
    flex-basis: 40%;
    font-size: $fs-xs;
    color: $content-pageNumber;
    line-height: 22px;
  }
  .left {
    padding-right: 20px;
  }
  .right {
    padding-left: 20px;
  }
}