//backgrounds
$menu-gray-bg: #767676;
$header-catalogPhotos-bg: #dcdcdc;
$footer-gray-bg: #777777;
$slider-gray-bg: #f8f8f8;

$big-line: #777777;

//text-colors
$main-text-color: #767676;
$price-activeNumberPage: #444444;
$content-pageNumber: #8d8d8d;
$active-catalog: #010101;
$white: #ffffff;

