$open-sans-light: 'Open Sans', sans-serif;
$pt-sans: 'PT Sans', sans-serif;




//14px
$fs-xs: 0.875rem;
//16px
$fs-base: 1rem;
//18px
$fs-s: 1.125rem;
//24px
$fs-m: 1.5rem;
//28px
$fs-l: 1.75rem;
//30px
$fs-xl: 1.875rem;
//36px
$media-sm: 2.25rem;
//40px
$fs-xxl: 2.5rem;


//12px = 0.75rem
//13px = 0.8125rem
//14px = 0.875rem
//15px = 0.9375rem
//16px = 1rem (base)
//18px = 1.125rem
//20px = 1.25rem
//21px = 1.313rem
//22px = 1.375rem
//24px = 1.5rem
//26px = 1.625rem
//28px = 1.75rem
//30px = 1.875rem
//32px = 2rem
//33px = 2.063rem
//34px = 2.125rem
//36px = 2.25rem
//40px = 2.5rem
//48px = 3rem
//49px = 3.063rem
//60px = 3.75rem