.contacts {
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .contact-us {
    flex: 0 1 auto;
    .phone {
      font-family: $open-sans-light;
      font-size: $fs-xxl;
      color: $main-text-color;
      line-height: 2.875rem;
    }
    .feedback {
      font-size: $fs-m;
      font-weight: 700;
      color: $main-text-color;
      text-decoration: none;
      border-bottom: 2px dashed $main-text-color;
      float: right;
    }
  }
}
